<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <nav>
    <h1 class="app_name">Leon's CRM!</h1>
    <ul>
      <li class="menu_option"><a href="/contacts">View all contacts</a></li>
      <li class="menu_option"><a href="/contacts/new_contact">Add a New contact</a></li>
      <li class="menu_option"><a href="#">About</a></li>
    </ul>
  </nav>








  <body>
    <%= yield %>
  </body>
  <footer>Bitmaker Labs 2016</footer>
</html>
